<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
            <div class="row">
                <div class="col-md-12">
                  <!-- Footer -->
                  <footer class="bg-dark text-white py-4">
                    <div class="container d-flex justify-content-between align-items-center">
                      <p class="m-0">© 2025 AGM Studio. All Rights Reserved.</p>
                      <nav>
                        <a href="#" class="text-white mx-2">Contact</a>
                        <a href="#" class="text-white mx-2">Instagram</a>
                      </nav>
                    </div>
                  </footer>
                </div>
              </div>
        </div>
    </div>
</div>
